<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low-level Reflection for Trading</title>
</head>

<body>
    <iframe name="system_content_trading"></iframe>

    <div class="message" role="user">
        <iframe name="low_level_reflection_task_description_trading"></iframe>

        <div class="market_intelligence">
            <p class="placeholder">The following are summaries of the latest (i.e., today) and past (i.e., before today) market intelligence (e.g., news, financial reports) you've provided.
                <br><br>The following is a summary from your assistant of the past market intelligence:
                <br>$$past_market_intelligence_summary$$
                <br><br>The following is a summary from your assistant of the latest market intelligence:
                <br>$$latest_market_intelligence_summary$$
            </p>
        </div>

        <iframe name="market_intelligence_effects_trading"></iframe>

        <iframe name="low_level_reflection_kline_chart_trading"></iframe>

        <iframe name="low_level_reflection_price_change_description_with_next_trading"></iframe>

        <iframe name="low_level_reflection_effects_trading"></iframe>

        <iframe name="low_level_reflection_prompt_with_next_trading"></iframe>

        <iframe name="low_level_reflection_output_format_trading"></iframe>
    </div>

</body>
</html>